/* !CSS */


body {
	font-family: sans-serif;
	background-position: center;
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-color: #F3F3F3;
  }

/* end primary ignition */

/* start header */

header {
	width: 100%;
	background-image: url(images/bk1.jpg);
}


nav a {
  text-decoration: none;
}


nav {
  width: 100%;
  height: 5rem;
  background-color: black;
  background-image:url(images/title-bk.jpg);
}

nav ul li {
  width: 10%;
  list-style: none;
  float: right;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  color: #92c44a;
  text-align: center;
  margin: 0 auto;
  float: left;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

h1 ul li {
  width: 15%;
  font-size: 4rem;
  font-weight: 400;
  margin: 0 auto;
  }

h1 ul li:first-child {
  font-size: 6rem;
  }

h1 ul li:last-child {
  font-size: 6rem;
  }

h2 {
  clear:both;
  text-align: center;
  }

h3 {
  text-align: center;
  }
	
p {
    padding-bottom: 3px;
    padding-left:.5%;
    padding-right: .5%;
  }

.instructors {
  color: white;
  background-color: black;
}

.instructors h2 {
  background-color: black;
}

.instructors article{
  background-color: black;
  padding: .5%;
  
}

.picture1 {
  height: 200px;
  background-image: url("../images/bk1.jpg");
  background-size: 100%;
  clear: both;
}
.picture2 {
  height: 200px;
  background-image: url("../images/bk2.jpg");
  background-size: 100%; 
  clear: both;
}
.picture3 {
  height: 200px;
  background-image: url("../images/bk3.jpg");
  background-size: 100%; 
  clear: both;
}

footer {
	width: 100%;
	height: 6rem;
	background-color: black;
}
footer ul {
	color: white;
}

footer ul li {
  width: 33%;
  list-style: none;
  float: left;
  text-align: center;
  font-family: sans-serif
}
/* end footer */
